@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 820px;
    width: 100%;
    background-color: rgba(236, 238, 243, 0.993);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container p{
    margin-left: 100px;
}
p a{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(46, 51, 66);
}

.title{
    display: block;
    margin-top: 200px;
    margin-left: 100px;
    height: 500px;
    /* align-items: center; */
    /* background-color: greenyellow; */
}

.title h1{
    color: rgb(46, 51, 66);
    font-size: 4rem;
    font-weight: 700;
}

.title button{
    background-color: rgb(46, 51, 66);
    font-size: 16px;
    padding: 15px 25px;
    border: none;
}

button a{
    color: white;
    text-decoration: none;
}


.profilePic{
    margin: 20px 20px;
    height: 700px;
}
.profilePic img{
    height: 100%;
}

.container2{
    height: 600px;
    width: 100%;
    /* background-color: lawngreen; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

#careerObj{
    margin-left: 100px;
}
.container2 h3{
    color: rgb(141, 151, 155);
}
#careerObj p{
    color: rgb(46, 51, 66);
    font-size: 1.5rem;
    font-weight: 400;
}

#skills{
    margin-left: 230px;
}
#skills h4{
    color: rgb(46, 51, 66);
    font-weight: 200;
    font-size: 1.3rem;
}

.techskills{
    height: 400px;
    background-color: teal;
}
 
.techskills h2{
    color: white;
}

#body{
    height: auto;
    
}
#body h2{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(230, 227, 227);
}
#body h3{
    font-size: 1.5rem;
    font-weight: 300;
}
#body p{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
}
hr{
    margin-right: 200px;
}
/* 3 */
#container3{
    height: 600px;
    width: 100%;
    background-color: rgba(35, 36, 39, 0.999);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
#title{
    margin-left: 100px;
}
#container3 h3{
    color: rgb(236, 234, 234);
}
/* 4 */
#container4{
    height: 600px;
    width: 100%;
    background-color: rgba(35, 36, 39, 0.979);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
#title{
    margin-left: 100px;
}
#container4 h3{
    color: rgb(236, 234, 234);
}
/* 5 */
#container5{
    height: 600px;
    width: 100%;
    background-color: rgba(35, 36, 39, 0.959);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
#title{
    margin-left: 100px;
}
#container5 h3{
    color: rgb(236, 234, 234);
}
/* 6 */
#container6{
    height: 600px;
    width: 100%;
    background-color: rgba(35, 36, 39, 0.939);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
#title{
    margin-left: 100px;
}
#container6 h3{
    color: rgb(236, 234, 234);
}

.container3{
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}
#contact{
    margin: auto;
}
#contact h1{
    font-size: 5rem;
}
#social ul li{
    list-style: none;
    margin: 20px 0px;
}
#social ul li a{
    color: rgb(46, 51, 66);
    font-size: 1.5rem;
}

#con h3{
    font-weight: 300;
    font-size: 1.5rem;
}

.qoute{
    height: 300px;
    width: 100%;
    background-color: rgba(236, 238, 243, 0.993);
    display: grid;
    align-items: center;
}
#qoute{
    margin: 0px 80px;
    font-size: 1.8rem;
    /* text-align: center; */
}

footer{
    font-size: 16px;
    color: rgb(218, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 25, 27, 0.993);
    height: 40px;
}
