@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark-950 text-gray-100 font-sans;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent-500 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent-600;
}
